<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>管控平台</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">

            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="#"><i class="fa fa-home"></i>商品管理<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="index.html">商品列表</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加商品</a>
                                    </li>
                                    <li>
                                        <a href="#">选择发货仓库</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">品牌管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑品牌</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">品类管理</a></li>
                            <li>
                                <a href="#">税率模板</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑税率模板</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">税率查询</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑税率</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">运费模板</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑运费模板</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-edit"></i>订单<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#">订单管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">订单详情</a>
                                    </li>
                                    <li>
                                        <a href="#">维权详情</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i>仓库<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#">仓库管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑仓库</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-table"></i>渠道<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#">渠道管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑渠道</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">渠道商品选择</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">关联商品</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-bar-chart-o"></i>系统<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="#">角色管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加&编辑角色</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">账号管理</a>
                                <ul class="nav child_menu">
                                    <li class="sub_menu">
                                        <a href="#">添加编辑账号</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>