<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')

        <!-- page content -->
        <div class="right_col" role="main">

            <!-- 搜索框 -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>商品列表<small>搜索框</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            <select id="heard1" class="form-control form-control-sm" required>
                                <option value="">Choose..</option>
                                <option value="press">Press</option>
                                <option value="net">Internet</option>
                                <option value="mouth">Word of mouth</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            <select id="heard2" class="form-control form-control-sm" required>
                                <option value="">Choose..</option>
                                <option value="press">Press</option>
                                <option value="net">Internet</option>
                                <option value="mouth">Word of mouth</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            <select id="heard3" class="form-control form-control-sm" required>
                                <option value="">Choose..</option>
                                <option value="press">Press</option>
                                <option value="net">Internet</option>
                                <option value="mouth">Word of mouth</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                            <select id="heard4" class="form-control form-control-sm" required>
                                <option value="">Choose..</option>
                                <option value="press">Press</option>
                                <option value="net">Internet</option>
                                <option value="mouth">Word of mouth</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                            <input type="text" placeholder="请输入商品名称" class="form-control form-control-sm">
                        </div>
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                        <button type="button" class="btn btn-sm btn-success ml10">搜索</button>
                    </div>
                </div>
            </div>
            <!-- /搜索框 -->

            <!-- 内容部分 -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>商品列表<small>表格</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped jambo_table bulk_action table-bordered">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Invoice </th>
                                <th class="column-title">Invoice Date </th>
                                <th class="column-title">Order </th>
                                <th class="column-title">Bill to Name </th>
                                <th class="column-title">Status </th>
                                <th class="column-title">Amount </th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000040</td>
                                <td class=" ">May 23, 2014 11:47:56 PM </td>
                                <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 23, 2014 11:30:12 PM</td>
                                <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000038</td>
                                <td class=" ">May 24, 2014 10:55:33 PM</td>
                                <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$432.26</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000037</td>
                                <td class=" ">May 24, 2014 10:52:44 PM</td>
                                <td class=" ">121000204</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$333.21</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000040</td>
                                <td class=" ">May 24, 2014 11:47:56 PM </td>
                                <td class=" ">121000210</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 26, 2014 11:30:12 PM</td>
                                <td class=" ">121000208 <i class="error fa fa-long-arrow-down"></i>
                                </td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000038</td>
                                <td class=" ">May 26, 2014 10:55:33 PM</td>
                                <td class=" ">121000203</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$432.26</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000037</td>
                                <td class=" ">May 26, 2014 10:52:44 PM</td>
                                <td class=" ">121000204</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$333.21</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>

                            <tr class="even pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000040</td>
                                <td class=" ">May 27, 2014 11:47:56 PM </td>
                                <td class=" ">121000210</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 28, 2014 11:30:12 PM</td>
                                <td class=" ">121000208</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 页码 -->
                    <div class="ui-box">
                        <div class="widget-list">
                            <div class="fl pagination">
                                <button class="btn btn-sm btn-success">删除</button>
                            </div>
                            <div class="list-page fr">
                                <span class="pagination-info">1111111111111111</span>
                                <div class="ui-pagination pagination"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /页码 -->

                </div>
            </div>
            <!-- 内容部分 -->

        </div>
        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- inject:js -->
<!-- endinject -->

<script src="../src/fn/index.js"></script>

</body>
</html>
